<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton+SC&display=swap" rel="stylesheet">

body 
{
    font-family: Arial, sans-serif;
}

.container 
{
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input[type="text"], input[type="button"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            box-sizing: border-box;
}

ul
{
    list-style-type: none;
    padding: 0;
}

li 
{
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button 
{
    background: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
        
button:hover {background: #c0392b;}

#logo
{
    background: url("logo.png") no-repeat center center;
    background-size: contain;
    line-height:5em;
    width:100%;
 
}

h1
{
    font-family: "Anton SC", sans-serif;
    text-transform: uppercase;
}